<h2>Loan Simulator</h2>

<form [formGroup]="simulador" (keyup.enter)="recalculate()">
  <div>
    <label for="ammount" >Loan Principal</label>
    <label for="interest">Montly Interest</label>
    <label for="firstPayment">First Payment</label>
    <label for="montlyPayment">Montly Payment</label>
  </div>
  <div>
    <input formControlName="ammount" class=""/>
    <input formControlName="interest"/>
    <input formControlName="firstPayment"/>
    <input formControlName="montlyPayment"/>
  </div>
</form>

<ng-container *ngIf="cuotas">
  <div class="">
    <table class="table w-50" id="schema">
      <thead>
        <tr>
          <th class="col-2">Installment</th>
          <th class="col-md-2">Balance</th>
          <th class="col-md-2">Rate</th>
          <th class="col-md-2">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cuota of cuotas; index as i">
          <td class="col-2">{{ i+1 }}</td>
          <td class="col-md-2">{{ cuota.saldo | currency }}</td>
          <td class="col-md-2">{{ cuota.tasa | currency }}</td>
          <td class="col-md-2">{{ cuota.accrued | currency }}</td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="3" class="bg-light">TEA: {{ tea | currency }} ({{ teaper | percent }})</td>
          <td class="bg-light"><button (click)="exportXLS()" class="btn btn-primary">xls</button></td>
       </tr>
      </tfoot>
    </table>
  </div>
</ng-container>


