form {
  display: flex;
  max-width: 400px;
  margin-bottom: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
}

form > div:last-child {
  flex: 1;
}

form > button {
  flex: none;
}

label, input {
  height: 25px;
  padding: 5px;
  margin-top: 1px;
  box-sizing: border-box;
}

.data {
  display: flex;
  max-width: 600px;
}